.form {
  display: grid;
  justify-content: center;
  row-gap: 38px;

}

.container {
  display: flex;
  gap: 12px;
}

.input {
  max-width: 204px;
}

.list {
  display: flex;
  justify-content: center;
  gap: 12px;
  list-style: none;
  margin: 70px 0 0;
  padding: 0;
}

.list__item {
  position: relative;
  display: flex;
  gap: 12px;
  align-items: center;
}

.small__top {
  position: absolute;
  top: -70px;
  left: 10px;
}

.small__bottom {
  position: absolute;
  top: 120px;
  left: 10px;
}

.btn {
  flex: 1;
}