.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 450px;
}

.container {
  display: flex;
  max-width: 980px;
  margin: 0 auto 48px;
}

.container__radio {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 52px;
}

.container__btn {
  display: flex;
  flex: 1;
  gap: 12px;
}

.btn:last-child {
  margin-left: calc(80px - 12px);
}

.column__container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.column__container li {
  display: flex;
  flex-direction: column-reverse;
}